ion-item {
    --inner-padding-end: 2px;
    --inner-padding-start: 2px;
    --background: "fff";
    --border-width: 0px;
    --padding-bottom: 0px;
    --padding-start: 0px;
    --padding-end: 0px;
    --padding-sop: 0px;
}
