<ion-card-subtitle > {{setCount}} </ion-card-subtitle>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-icon slot="start" name="calendar-outline"></ion-icon>
            <ion-input [clearOnEdit]="true" type="number" placeholder="Reps"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-icon slot="start" name="timer-outline"></ion-icon>
            <ion-input [clearOnEdit]="true" type="number" placeholder="Mins"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-icon slot="start" name="barbell-outline"></ion-icon>
            <ion-input [clearOnEdit]="true" type="number" placeholder="Lbs"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-icon slot="start" name="walk-outline"></ion-icon>
            <ion-input [clearOnEdit]="true" type="number" placeholder="RPE"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      
    </ion-grid>
