<ion-grid>
  <ion-row>
    <ion-col>
      <ion-item>
      {{setCount}}
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-icon size="small" name="repeat-outline"></ion-icon>
        <ion-input 
          [clearOnEdit]="true" 
          type="number"
          placeholder="Reps" 
          (ionChange)="setChanges()"
          [(ngModel)]="set.reps"
        >
        </ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-icon size="small" name="barbell-outline"></ion-icon>
        <ion-input 
          [clearOnEdit]="true" 
          type="number" 
          placeholder="Lbs" 
          (ionChange)="setChanges()"
          [(ngModel)]="set.weight"
         >
        </ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-icon size="small" name="walk-outline"></ion-icon>
        <ion-input 
          [clearOnEdit]="true" 
          type="number"
          placeholder="RPE" 
          (ionChange)="setChanges()"
          [(ngModel)]="set.rpe"
          >
        </ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>
