<ion-grid>

  <ion-row>
    <ion-col>
      <ion-item>
      {{setCount}}
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-icon size="small" name="calendar-outline"></ion-icon>
        <ion-input [clearOnEdit]="true" type="number" placeholder="Reps"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-icon size="small" name="barbell-outline"></ion-icon>
        <ion-input [clearOnEdit]="true" type="number" placeholder="Lbs"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-icon size="small" name="walk-outline"></ion-icon>
        <ion-input [clearOnEdit]="true" type="number" placeholder="RPE"></ion-input>
      </ion-item>
    </ion-col>




  </ion-row>
</ion-grid>
