ion-item {
    --inner-padding-end: 2px !important;
    --inner-padding-start: 2px ;
    --background: var(--ion-color-light);
    --padding-bottom: 1px;
    --padding-start: 1px;
    --padding-end: 1px;
    --padding-top: 1px;
    --background: var(--ion-color-light);
}

ion-item-sliding{
    margin-bottom: 2%;
    --border-width: 0px !important;

}

ion-icon {
    color: var( --ion-color-success);
    opacity: 100%;
    size: large !important;
   margin-right: 10px;
}

.numberLabel{
    color: var( --ion-color-success);
}

.valueLabels {
    font-size: 10px;
    margin: 0px;
    background-color: transparent;
}