<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-button expand="block">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>

    </ion-buttons>
    <ion-title>metric selection</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>

      <ion-col size="6">
        <ion-card color="danger">
          <ion-icon name="bed-outline"></ion-icon>
            <ion-text>
              <h2>Sleep & Water</h2>
            </ion-text>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card color="success">
          <ion-icon name="battery-half-outline"></ion-icon>
            <ion-text>
              <h2>RPE</h2>
            </ion-text>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card color="secondary">
          <ion-icon name="bar-chart-outline"></ion-icon>
            <ion-text>
              <h2>Table</h2>
            </ion-text>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card color="medium">
          <ion-icon name="barbell-outline"></ion-icon>
            <ion-text>
              <h2>Workouts</h2>
            </ion-text>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card color="warning" className="center">
          <ion-icon name="fitness-outline"></ion-icon>
            <ion-text>
              <h2>Heartrates</h2>
            </ion-text>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
