ion-list {
    background: #323232 !important;
  }

ion-item-divider {
    margin-top: 2px !important;
    background: #833535 !important;
    text-align: center;
}
ion-card {
    --background: #666666 !important;
    height: 70%;
    border: 2px solid #ffffff;
    border-radius: 10px !important;
    ion-card-content{
        padding: 0px !important;
        border-width: 0px;
    }
}
ion-item {
    background-color: #323232 !important;
    text-align: center;
}

ion-button {
    color: #ffffff;
}

ion-header {
    color: #ffffff;
    font-size: 110%;
    
}
ion-title {
   
    color: #ffffff;
}

.name {
    font-size: 115%;
}
ion-icon {
    color:#ffffff;
    opacity: 100%;
    size: large !important;
}
