<ion-content class="ion-padding" >
  <!-- <ion-datetime 
    presentation="date" 
    [multiple]="true" 
    [value]="['2022-12-03']">
  </ion-datetime> -->
  <ion-list>
    <ion-item-divider sticky>
      <ion-item>
        December 12 - December 19
      </ion-item>
      
    </ion-item-divider>
    <ion-card  
      *ngFor="let session of sessions; index as i;"
    >
      <ion-card-header>
        <ion-card-title>{{session.name}} </ion-card-title>
        <ion-card-subtitle>{{session.datetime}}</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <ion-row>
          {{session.duration}} mins
          {{session.muscleGroups}}
        </ion-row>
      </ion-card-content>
      <ion-button fill="clear" (click)="loadSession(i)">Edit</ion-button>
    <ion-button fill="clear" (click)="deleteSession(session.id)">Delete</ion-button>
    </ion-card>

    <ion-row>
      <ion-col></ion-col>
      <ion-col size="auto">
        <ion-button id="createNewButton" (click)="createNewSession()" routerLink="/log-workout" routerLinkActive="active" routerDirection="forward">Log A Workout </ion-button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>

  </ion-list>


</ion-content>