ion-list {
    background: var( --ion-color-dark);
    
  }

ion-item-divider.top-header {
    margin-top: 2px !important;
    text-align: center;

}


ion-card {
    --background: var(--ion-color-light);
    height: 70%;
    border: 2px solid #ffffff;
    border-radius: 10px !important;

    ion-card-content{
        padding: 0px !important;
        border-width: 0px;
    }
}


ion-button {
    color: #ffffff;
}


ion-title {
    color: #ffffff;
}

.name {
    font-size: 120%;
    font-weight: 500;
    color: var(--ion-color-success);
}

.description {
    font-weight: 20;
    color: #a5a5a5;
}

ion-icon {
    color:#ffffff;
    opacity: 100%;
    size: large !important;
}
ion-item{
    --background: var(--ion-color-dark);
}


.selected-card {
    --background: rgb(129, 58, 58, .5);
}

@keyframes slidingAnimation {
    0% {
      transform: translate3d(0, 0, 0);
      -webkit-transform: translate3d(0, 0, 0);
    }
    50% {
      transform: translate3d(-70px, 0, 0);
      -webkit-transform: translate3d(-70px, 0, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
      -webkit-transform: translate3d(0, 0, 0);
    }
  }
  .itemSlidingAnimation {
    --animation: slidingAnimation;
    animation: slidingAnimation;
    --animation-duration: 1000ms;
    --animation-duraton: 1000ms;
  }