<ion-header color="primary">
  <ion-toolbar color="primary">
    <ion-title >Workouts Dashboard</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-list >
    <ion-item-divider color="primary" class="top-header ion-text-center" sticky>

      <ion-title>Add Workout</ion-title>
      <ion-button fill="clear" slot="end" (click)="createNewSession()">
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" slot="start" (click)="deletingSessions()">
        <ion-icon slot="icon-only" name="remove-circle-outline"></ion-icon>
      </ion-button>

    </ion-item-divider>
    <ion-item-divider sticky color="dark" *ngIf="deleting">
      <ion-grid>
        <ion-row>
          <ion-label color="success">
            Select cards to delete them
          </ion-label>

        </ion-row>
        <ion-row>
          <ion-button color="primary" (click)="deletingSessions()" class="onClick">Cancel</ion-button>
          <ion-button  color="primary" (click)="confirmDelete()"  class="onClick">Confirm</ion-button>

        </ion-row>
      </ion-grid>
    </ion-item-divider>

    <ion-item-sliding *ngFor="let session of sessions; index as i;"  
       id="hover-trigger"  
      [ngClass]="{ 'selected-card': currentSelected[i]}"
      color="secondary"
      >
      <ion-item  [ngClass]="{ 'selected-card': currentSelected[i]}" (click)="handleClick(i)" >
        <ion-thumbnail slot="start">
          <app-muscle-svg  [muscles]="sessions[i].muscleGroups" [canSelect]="false" [canOpen]="false"></app-muscle-svg>
        </ion-thumbnail>
        <ion-grid  [ngClass]="{ 'selected-card': currentSelected[i]}" >
          <ion-row class="ion-align-items-center">
            <ion-col>
              <ion-row>
                <ion-col size="auto">
                  <ion-header class="name">{{session.name}}</ion-header>
                </ion-col>
              </ion-row>
              <ion-row class="ion-align-items-center">
                <ion-col size="auto">
                  <ion-header class="description">{{session.datetime | date}}</ion-header>
                </ion-col>
                <ion-col size="auto">
                  <ion-icon name="ellipse" class="description"></ion-icon>
                </ion-col>
                <ion-col size="auto">
                  <ion-header class="description">
                    {{session.duration}} mins
                  </ion-header>

                </ion-col>
              </ion-row>
              <ion-row>
                <!-- <ion-col>
                  <ion-header>
                    {{session.muscleGroups.join(', ')}}
                  </ion-header>
                </ion-col> -->
                <!-- <ion-button fill="clear" (click)="loadSession(i)">Edit</ion-button> -->
                <!-- <ion-button fill="clear" (click)="deleteSession(session.id)">Delete</ion-button> -->

              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>

    <!-- <ion-card (click)="handleClick(i)" id="hover-trigger">
      <ion-card-content [ngClass]="{ 'selected-card': currentSelected[i]}">
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col>
              <ion-row>
                <ion-col size="auto">
                  <ion-header class="name">{{session.name}}</ion-header>
                </ion-col>
              </ion-row>
              <ion-row class="ion-align-items-center">
                <ion-col size="auto">
                  <ion-header>{{session.datetime | date}}</ion-header>
                </ion-col>
                <ion-col size="auto">
                  <ion-icon name="ellipse"></ion-icon>
                </ion-col>
                <ion-col size="auto">
                  <ion-header>
                    {{session.duration}} mins
                  </ion-header>

                </ion-col>
              </ion-row>
              <ion-row>
               
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-card-content>
    </ion-card> -->
      </ion-item>
      <ion-item-options>
        <ion-item-option  (click)="deleteSession(session.id, i)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
 
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadMoreSessions($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>