<ion-toolbar>
  <ion-title>Workouts Dashboard</ion-title>
</ion-toolbar>
<ion-content class="ion-padding" >
  
  <ion-list>
    <!-- <ion-item-divider sticky>
      <ion-item>
        December 12 - December 19
      </ion-item>
    </ion-item-divider> -->

    <ion-card  
      *ngFor="let session of sessions; index as i;"
    >
      <ion-card-header>
        <ion-card-title>{{session.name}} </ion-card-title>
        <ion-card-subtitle>{{session.datetime}}</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <ion-row>
          {{session.duration}} mins
          {{session.muscleGroups}}
        </ion-row>
      </ion-card-content>
      <ion-button fill="clear" (click)="loadSession(i)">Edit</ion-button>
    <ion-button fill="clear" (click)="deleteSession(session.id)">Delete</ion-button>
    </ion-card>

    <ion-row>
      <ion-col></ion-col>
      <ion-col size="auto">
        <ion-button id="createNewButton" (click)="createNewSession()">Log A Workout </ion-button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>

  </ion-list>


</ion-content>