ion-content{
    --background : #000000;
    ion-col{
        text-align:center;
        ion-icon{
            zoom:2.8;
            padding:3px;
            &:first-child{
                zoom:3.8;
                padding:3px;
            }
        }
        h2,h1{
            margin-top:0;
        }
        ion-card{
            box-shadow: 0 !important;
            text-align: center;
            margin-bottom: 0px !important;
        }
        ion-item{
            text-align: center;
        }
    }
}