<ion-toolbar>
  <ion-buttons slot="start" color="#fff" routerLink="/tabs/account">
    <ion-button expand="block">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
    <ion-title>Emoticoach</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button expand="block">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>

<ion-content>

    <ion-card class="myCard">
      <img src="../../../assets/winner_leafs.png"/>
      <div class="myOverlay">
        
         <div class="card-title">Squat PR</div>
         <div class="card-subtitle">325 lbs</div>
      </div>
    </ion-card>

  
  <!-- <ion-row class="banners">
    <swiper [config]="bannerConfig">
      <ng-template swiperSlide *ngFor="let data of workoutData">
        <div align="center">
          <ion-label>
            <span><strong>Personal Record</strong></span>
            <p class="acc-amt"><ion-text color="white">{{data?.record}} lbs.</ion-text></p>
            <span>{{data?.workout_name}}</span>
          </ion-label>
        </div>
      </ng-template>
    </swiper>
  </ion-row> -->

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card *ngFor="let card of homepageCards; let i = index" button="true" color="dark" routerLink={{routing[i]}} routerLinkActive="active" routerDirection="root">
        <ion-card-content>
          <ion-list lines="none">
            <ion-item>
                <ion-icon slot="start" name={{icons[i]}}></ion-icon>
            <ion-label color="light">
              <h2 style="font-size:18px" style ="color: #fff">{{upperText[i]}}</h2>
              <!-- <h3 style="font-size:16px" style="color: #929292">{{lowerText[i]}}</h3> -->
            </ion-label>
            </ion-item>
            
        </ion-list>
        </ion-card-content>
          </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
