ion-icon {
    color: #fff;
}

ion-content {

    ion-col {
        text-align: center;
        h2,h1 {
            margin-top: 0;
        }

        ion-card {
            background: var(--ion-color-primary);
            box-shadow: 0 !important;
            margin-bottom: 0px !important;
            border: 1px solid #ffffff !important;
            padding: 5px;
        }

    }

    ion-row.banners {
        position: relative;
        padding: 10px;
        height: 100px;
        border-radius: 2.5rem;
        margin: 6vh 1rem 0 1rem;

        swiper {
            div {
                ion-label {
                    p.acc-amt {
                        margin: 1rem 0;
                        font-size: 3rem;
                        font-weight: 700;
                    }
                }
            }
        }
    }

    ion-row.banners::after {
        content: "";
        position: absolute;
        top: 1px;
        left: 1px;
        right: 1px;
        bottom: 1px;
        border-radius: 2.5rem;
        z-index: 0;
        border: 2px solid transparent;
    }
}

ion-label {
    text-align: center;
    background-color: var(--ion-color-primary);
    --background: var(--ion-color-primary);   

}

ion-item {
    --background: var(--ion-color-primary);
    --border-width: 0px !important;
}

ion-card-content {
    background-color: var(--ion-color-primary);
    border-width: 0px;
    padding: 0px !important;
    height: 50px !important;
}

ion-lost {
    background-color: var(--ion-color-primary);

    --background: var(--ion-color-primary);   
}


img {
    width: 100%;
    height: 100%;
}

.prCard {
    position: relative;
    box-shadow:none !important;
    width: 90%;
    margin-bottom: 0;
}

.myOverlay {
    width: 100%;
    height: 80%;
    position: absolute;
    bottom: 0px;
    opacity: 1;
    color: #ffffff;
    text-align: center;
}

.card-title{
    font-size: x-large;
    color: var(--ion-color-success);

}

.card-subtitle{
    font-size: large;
    color: var(--ion-color-success);


}