<ion-header>
  <ion-toolbar>
    <ion-title>Emotibit</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>


  <div class="eda-container">
    <canvas id="edaChart"> {{ edaChart }} </canvas>

  </div>
  <div class="ppg-container">
    <canvas id="ppgChart"> {{ ppgChart }} </canvas>

  </div>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="auto" *ngIf="!connectionOpen">
        <ion-button size="fill" (click)="openConnection()">Start Workout</ion-button>
      </ion-col>
      <ion-col size="auto" *ngIf="connectionOpen">
        <ion-button size="fill" (click)="closeConnection()">Stop</ion-button>
      </ion-col>
<!-- 
      <ion-col>
        <ion-button (click)="generateworkouts()">generate</ion-button>
      </ion-col>  -->

    </ion-row>
    <ion-row class="ion-justify-content-left">
      <ion-col size="auto">
        <ion-label>
          Current HeartRate:
        </ion-label>
      </ion-col>
      <ion-col size="auto">
        <ion-label>
            121
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-left">
      <ion-col size="auto">
        <ion-label>
          Ready To Lift:
        </ion-label>
      </ion-col>
      <ion-col size="auto">
        <ion-label [ngClass]="{'blink': readyTolift}">
          <ion-icon name="checkmark-outline"></ion-icon>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-left">
      <!-- <ion-col size="auto">
        <ion-label>
          Position:
        </ion-label>
      </ion-col> -->
      <!-- <ion-col size="auto">
        <ion-label>
          {{position}}
        </ion-label>
      </ion-col> -->
    </ion-row>
  </ion-grid>

</ion-content>