<ion-header>
  <ion-toolbar>
    <ion-title>Emotibit</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>


  <div class="eda-container">
    <canvas id="edaChart"> {{ edaChart }} </canvas>

  </div>
  <div class="ppg-container">
    <canvas id="ppgChart"> {{ ppgChart }} </canvas>

  </div>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="auto" *ngIf="!connectionOpen">
        <ion-button size="fill" (click)="openConnection()">Start Workout</ion-button>
      </ion-col>
      <ion-col size="auto" *ngIf="connectionOpen">
        <ion-button size="fill" (click)="closeConnection()">Stop</ion-button>
      </ion-col>
      <!-- 
      <ion-col>
        <ion-button (click)="generateworkouts()">generate</ion-button>
      </ion-col>  -->

    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="auto">
        <ion-button *ngIf="!calibrating" (click)="calibrate()">
          Calibrate
        </ion-button>

      </ion-col>
      <!-- <ion-col size="auto">
        <ion-label [ngClass]="{'blink': readyTolift}">
          <ion-icon name="checkmark-outline"></ion-icon>
        </ion-label>
      </ion-col> -->

    </ion-row>
    <ion-row class="ion-justify-content-center" *ngIf="calibrating">
      <ion-col size="auto">
        <ion-button (click)="cancel()">
          Cancel
        </ion-button>
      </ion-col>
    </ion-row>
      <ion-row *ngIf="!training && calibrating && !arousalDetection"  class="ion-justify-content-center">
        <ion-label >
          Please Put on Finger
          {{timer}}
        </ion-label>
      </ion-row>
      <ion-row *ngIf="training"  class="ion-justify-content-center">
        <ion-label >
          Please Stay Still for: {{timer}} seconds
        </ion-label>
      </ion-row>

    <ion-row class="ion-justify-content-center" *ngIf="arousalDetection && calibrating" >
      <ion-col size="auto">
        <ion-label>
          Arousal:
        </ion-label>
      </ion-col> 
      <ion-col size="auto">
        <ion-label>
          {{arousalStatus}}
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>