ion-icon{
    color: #fff;
}

.time-selection{
    padding-left: 275px;
    color: #929292;
}

.date-selection{
    width: 400px;
    text-align-last: center;
}

.left-table-text{
    padding-left: 10px;
    text-align: left;
}

.right-table-text{
    padding-right: 10px;
    text-align: right;
}

.weight-text{
    text-align: center;
}

.table-title-color{
    background-color: #833535;
}

.table-row-color{
    background-color: #929292;
}

.right{
    width: 250px;
    text-align-last: right;
}


