<ion-content>
  <div id="header">
    <div id="app-bar">
      <ion-icon name = "arrow-back" routerLink="/sign-up"></ion-icon>
    </div>
    <h1>Log In</h1>
    <p>Log in to start logging your workouts!</p>
  </div>
  <div class="wrapper">
    <ion-card  class="form-wrapper">
      <ion-card-content>
        <ion-item>
          <ion-icon name="person-outline"></ion-icon>
          <ion-input type="text" placeholder="Username" [(ngModel)]="userData.username"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="lock-closed"></ion-icon>
          <ion-input type="password" placeholder="Password" [(ngModel)]="userData.password"></ion-input>
        </ion-item>
        <ion-button expand="block" (click)="toHomepage()">Log in</ion-button>
      </ion-card-content>
    </ion-card>

    <div class="line-text">
        <span class="text">
          Don't have an account? <a routerLink="/sign-up">Sign up</a>
        </span>
    </div>
  </div>
</ion-content>