<ion-content>
  <ion-list *ngIf="!gymSelected" lines="inset">
    <ion-list-header color="dark">Select a Gym</ion-list-header>

    <ion-item *ngFor="let gym of gymList" button detail="true" (click)="goToTopic(gym)">

      <ion-thumbnail slot="start">
        <ion-img src="../../../../assets/gym-icons/{{gym.icon}}" alt="{{gym.name}} icon"></ion-img>
      </ion-thumbnail>
      <ion-label class="gym-name">
        <h3 class="gym-name">{{ gym.name}}</h3>
      </ion-label>
    </ion-item>



  </ion-list>
  <ion-item-sliding #sliding>
    <ion-item-options side="start">
      <ion-item-option (click)="goBack()" color="dark">
        <ion-icon name="chevron-back-outline" slot="icon-only"></ion-icon>
      </ion-item-option>
    </ion-item-options>
    <ion-item color="dark" *ngIf="gymSelected">


      <ion-thumbnail slot="start">
        <ion-img src="../../../../assets/gym-icons/{{currentGym.icon}}" alt="{{currentGym.name}} icon"></ion-img>
      </ion-thumbnail>
      <ion-label  color="success">{{currentGym.name}}</ion-label>
    </ion-item>
  </ion-item-sliding>


  <app-feed *ngIf="gymSelected" [currentGym]="currentGym"></app-feed>



</ion-content>