{% extends "base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/team.css' %}">
{% endblock %}

{% block content %}
    <!-- ***** Testimonials Starts ***** -->
    <section class="section" id="trainers">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">
                        <h2>Our <em>Developers</em></h2>
                        <img src="{% static 'images/line-dec.png' %}" alt="">
                        <p> We are the <em>Brogrammers</em> - Team 16 of UNR CS 426 Senior Projects</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="trainer-item">
                        <div class="image-thumb">
                            <img src="{% static 'images/Kobe.jpg' %}" alt="Headshot of Kobe Maristela">
                        </div>
                        <div class="down-content">
                            <span>Networking Wizard &#x1F9D9;</span>
                            <h4>Kobe Maristela</h4>
                            <p>I got 99 problems, but my network ain't one</p>
                            <ul class="social-icons">
                                <li><a href="https://www.linkedin.com/in/kobe-maristela/"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="https://github.com/kobemaristela"><i class="fa fa-github"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="trainer-item">
                        <div class="image-thumb">
                            <img src="{% static 'images/Jaemin.jpg' %}" alt="Headshot of Jaemin Lee">
                        </div>
                        <div class="down-content">
                            <span>API Enthusiast</span>
                            <h4>Jaemin Lee</h4>
                            <p>Is there a POST request that returns confidence?</p>
                            <ul class="social-icons">
                                <li><a href="https://www.linkedin.com/in/lee-jaemin/"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="https://github.com/jaemindev"><i class="fa fa-github"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="trainer-item">
                        <div class="image-thumb">
                            <img src="{% static 'images/Chad.jpg' %}" alt="Headshot of Chad Sherf">
                        </div>
                        <div class="down-content">
                            <span>UI/UX Magician</span>
                            <h4>Chad Sherf</h4>
                            <p>#000000 is there a darker hexcode?</p>
                            <ul class="social-icons">
                                <li><a href="https://www.linkedin.com/in/chad-sherf/"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="https://github.com/csherf"><i class="fa fa-github"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="trainer-item">
                        <div class="image-thumb">
                            <img src="{% static 'images/Justin.jpg' %}" alt="Headshot of Justin Fan">
                        </div>
                        <div class="down-content">
                            <span>Frontend Developer</span>
                            <h4>Justin Fan</h4>
                            <p>Life Long Learner</p>
                            <ul class="social-icons">
                                <li><a href="https://github.com/justinf0428"><i class="fa fa-github"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Testimonials Ends ***** -->

    <!-- ***** Testimonials Starts ***** -->
    <section class="section" id="instructors">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3" height>
                    <div class="section-heading">
                        <h2>Our <em>Instructors</em></h2>
                        <p>Our amazing instructing team for the entire senior projects</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="trainer-item">
                        <div class="image-thumb">
                            <img src="{% static 'images/Dave.jpg' %}" alt="Headshot of Dave Feil-Seifer">
                        </div>
                        <div class="down-content">
                            <span>CSE Professor</span>
                            <h4>Dr. Dave Feil-Seifer</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="trainer-item">
                        <div class="image-thumb">
                            <img src="{% static 'images/Devrin.jpg' %}" alt="Headshot of Devrin Lee">
                        </div>
                        <div class="down-content">
                            <span>CSE Professor</span>
                            <h4>Devrin Lee</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="trainer-item">
                        <div class="image-thumb">
                            <img src="{% static 'images/Sergiu.jpg' %}" alt="Headshot of Sergiu Dascalu">
                        </div>
                        <div class="down-content">
                            <span>CSE Professor</span>
                            <h4>Dr. Sergiu Dascalu</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="trainer-item">
                        <div class="image-thumb">
                            <img src="{% static 'images/Vinh.jpg' %}" alt="Headshot of Chad Sherf">
                        </div>
                        <div class="down-content">
                            <span>CSE Teaching Assistant</span>
                            <h4>Vinh Lee</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Testimonials Ends ***** -->

    <section class="section" id="instructors">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">
                        <h2>Our <em>Advisor</em></h2>
                        <p>Our amazing advisor who guided us throughout the project</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5  offset-lg-5">
                    <div class="trainer-item">
                        <div class="image-thumb">
                            <img src="{% static 'images/Sean.jpg' %}" alt="Headshot of Dave Feil-Seifer">
                        </div>
                        <div class="down-content">
                            <span>CEO of Connected Future Labs</span>
                            <h4>Dr. Sean Montogomery</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
