ion-list {
    background: #323232;
    color: #323232;
  }
ion-item {
    --background: #323232 !important;
}
ion-row {
    text-align: center;
}
ion-button {
    --color: #ffffff;
    --border-color: #ffffff;
    height: 30px;
    --background-activated: #a8a8a8;
  }


