
ion-item {
    --background: var(--ion-color-dark);
}
ion-row {
    text-align: center;
}
ion-button {
    --color: #ffffff;
    --border-color: #ffffff;
    height: 30px;
    --background-activated: #a8a8a8;
  }

ion-searchbar {
  background-color: var(--ion-color-dark);
}

h3, p {
  color: var(--ion-color-success);
}