{% extends "website/base.html" %}

{% block title %}
  Affiliations
{% endblock %}

{% block content %}
<!-- Our affiliations -->
<p class="h1 text-center pt-5 pb-2">Our Affiliations</p>

<div class="row pl-3 pt-2">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <p class="text-center pt-3 pb-2">
            Our CS 426 Instructors are Dr. David Feil-Seifer, Devrin Lee, and Vinh Le.
            Our external advisor is Dr. Sean Montgomery.
        </p>
    </div>
    <div class="col-md-3"></div>
</div>

<div class="container">
    <p class="h2 text-center p-3">The Instructors</p>
    <div class="row pt-3 text-center">
        <div class="col-md-4">
            <p class="h3">Devrin Lee</p>
            <img src="https://cdn.pixabay.com/photo/2014/04/03/10/54/smiley-311701_1280.png" class="img-thumbnail rounded-circle w-50" alt="Devrin">
            <p>
                CS 426 Instructor.
            </p> 
        </div>
        <div class="col-md-4">
            <p class="h3">Dr. David Feil-Seifer</p>
            <img src="https://cdn.pixabay.com/photo/2014/04/03/10/54/smiley-311701_1280.png" class="img-thumbnail rounded-circle w-50" alt="Chad">
            <p>
                CS 426 Instructor.
            </p> 
        </div>
        <div class="col-md-4">
            <p class="h3">Vinh Le</p>
            <img src="https://cdn.pixabay.com/photo/2014/04/03/10/54/smiley-311701_1280.png" class="img-thumbnail rounded-circle w-50" alt="Chad">
            <p>
                CS 426 Teaching Assistant.
            </p> 
        </div>
    </div>
</div>

<div class="container">
    <p class="h2 text-center pt-5 pb-3">The Advisor</p>
    <div class="row pt-3 text-center">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <p class="h3">Dr. Sean Montgomery</p>
            <img src="https://cdn.pixabay.com/photo/2014/04/03/10/54/smiley-311701_1280.png" class="img-thumbnail rounded-circle w-50" alt="Chad">
            <p>
                Founder of Future Connected Labs and Creator of EmotiBit.
            </p> 
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% endblock %}