{% extends "website/base.html" %}

{% block title %}
  Resources
{% endblock %}

{% block content %}
<!-- Resources for the project -->
<p class="h1 text-center pt-5 pb-2">Relevant Resources</p>

<p class="h3 pl-3 pt-4">Books</p>
<div class="row pl-3 pt-2">
    <div class="col-md-6">
        <p>
        Short Project Description Lorem, ipsum dolor sit amet consectetur 
        adipisicing elit. Non explicabo quae suscipit quas earum dignissimos, 
        molestias cum accusantium amet sunt est, dolore eveniet sapiente voluptatibus 
        dicta exercitationem id illo ratione.
        </p>
    </div>
</div>
<p class="h3 pl-3 pt-4">Websites</p>
<div class="row pl-3 pt-2">
    <div class="col-md-6">
        <p>
        Short Project Description Lorem, ipsum dolor sit amet consectetur 
        adipisicing elit. Non explicabo quae suscipit quas earum dignissimos, 
        molestias cum accusantium amet sunt est, dolore eveniet sapiente voluptatibus 
        dicta exercitationem id illo ratione.
        </p>
    </div>
</div>
<p class="h3 pl-3 pt-4">Articles/Papers</p>
<div class="row pl-3 pt-2">
    <div class="col-md-6">
        <p>
        Short Project Description Lorem, ipsum dolor sit amet consectetur 
        adipisicing elit. Non explicabo quae suscipit quas earum dignissimos, 
        molestias cum accusantium amet sunt est, dolore eveniet sapiente voluptatibus 
        dicta exercitationem id illo ratione.
        </p>
    </div>
</div>
<p class="h3 pl-3 pt-4">News</p>
<div class="row pl-3 pt-2">
    <div class="col-md-6">
        <p>
        Short Project Description Lorem, ipsum dolor sit amet consectetur 
        adipisicing elit. Non explicabo quae suscipit quas earum dignissimos, 
        molestias cum accusantium amet sunt est, dolore eveniet sapiente voluptatibus 
        dicta exercitationem id illo ratione.
        </p>
    </div>
</div>



{% endblock %}