{% extends "website/base.html" %}

{% block title %}
  About the Team
{% endblock %}

{% block content %}
<!-- About the team -->
<p class="h1 text-center pt-5 pb-2">About Our Team</p>

<div class="row pl-3 pt-2">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <p class="text-center pt-3 pb-2">
            We are the Brogrammers! We are Team 16 of CS 426 Senior Projects.
            We have five amazing members, and here they are:
        </p>
    </div>
    <div class="col-md-3"></div>
</div>
<div class="row pt-3">
    <div class="col-md-1"></div>
    <div class="col-md-2 text-center">
        <p class="h3">Chad Sherf</p>
        <img src="https://media.licdn.com/dms/image/C4E03AQElyuEidDUciA/profile-displayphoto-shrink_800_800/0/1627482029378?e=1681344000&v=beta&t=hBcMVm-6xfXcM4w1-SRTcnwZis7O7a4Ocrk7XnVNBIc" class="img-thumbnail rounded-circle w-75" alt="Chad">
        <p>
            3rd year CSE Major
        </p> 
    </div>
    <div class="col-md-2 text-center">
        <p class="h3">Kobe Maristela</p>
        <img src="https://media.licdn.com/dms/image/C5603AQGKQ10RNOMdDw/profile-displayphoto-shrink_800_800/0/1656700526492?e=1681344000&v=beta&t=9Ye8wsyHGsIiKdcOAWKp_N4Ld67geMeh62VpMEhAoRY" class="img-thumbnail rounded-circle w-75" alt="Kobe"> 
        <p>
            4th year CSE Major
        </p> 
    </div>
    <div class="col-md-2 text-center">
        <p class="h3">Jaemin Lee</p>
        <img src="https://media.licdn.com/dms/image/C5603AQGdLByl0i9h1g/profile-displayphoto-shrink_200_200/0/1615473139186?e=1681344000&v=beta&t=wIInma6r62Bnat7UzpY0Q7vQAigCdFHjAS8wAFUykEM" class="img-thumbnail rounded-circle w-75" alt="Jaemin"> 
        <p>
            4th year CSE Major
        </p> 
    </div>
    <div class="col-md-2 text-center">
        <p class="h3">Justin Fan</p>
        <img src="https://cdn.pixabay.com/photo/2018/10/09/16/04/sport-3735288_960_720.png" class="img-thumbnail rounded-circle w-75" alt="Justin"> 
        <p>
            4th year CSE Major
        </p> 
    </div>
    <div class="col-md-2 text-center">
        <p class="h3">Blong Vang</p>
        <img src="https://media.licdn.com/dms/image/C5603AQFemv1C9eS9qw/profile-displayphoto-shrink_800_800/0/1631725052556?e=1681344000&v=beta&t=07kBQ-PiX0hAziTApq7NbdlSCSObZwvJtNpyUlEU2tQ" class="img-thumbnail rounded-circle w-75" alt="Blong"> 
        <p>
            4th year CSE Major
        </p> 
    </div>
    <div class="col-md-1"></div>
</div>
{% endblock %}