{% extends "website/base.html" %}

{% block title %}
  About the Team
{% endblock %}

{% block content %}
<!-- About the team -->
<p class="h1 text-center pt-5 pb-2">About Our Team</p>

<div class="row pl-3 pt-2">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <p class="text-center pt-3 pb-2">
            Description about our team including team number and name Lorem ipsum, 
            dolor sit amet consectetur adipisicing elit. 
            Nihil reprehenderit, ipsam repellendus neque 
            vero aspernatur, eveniet ipsum ut animi exercitationem 
            quos quae est maiores molestiae, culpa iusto eligendi. 
            Velit, incidunt!
        </p>
    </div>
    <div class="col-md-3"></div>
</div>
<div class="row pt-3">
    <div class="col-md-1"></div>
    <div class="col-md-2 text-center">
        <p class="h3">Chad Sherf</p>
        <img src="https://cdn.pixabay.com/photo/2014/04/03/10/54/smiley-311701_1280.png" class="img-thumbnail rounded-circle w-75" alt="Chad">
        <p>
            Description goes here Lorem ipsum dolor sit 
            amet consectetur adipisicing elit. Minus, 
            exercitationem.
        </p> 
    </div>
    <div class="col-md-2 text-center">
        <p class="h3">Kobe Maristela</p>
        <img src="https://cdn.pixabay.com/photo/2021/04/17/00/34/drawing-6184767_1280.jpg" class="img-thumbnail rounded-circle w-75" alt="Kobe"> 
        <p>
            Description goes here Lorem ipsum dolor sit 
            amet consectetur adipisicing elit. Minus, 
            exercitationem.
        </p> 
    </div>
    <div class="col-md-2 text-center">
        <p class="h3">Jaemin Lee</p>
        <img src="https://cdn.pixabay.com/photo/2014/03/24/13/40/dumbbells-293955_1280.png" class="img-thumbnail rounded-circle w-75" alt="Jaemin"> 
        <p>
            Description goes here Lorem ipsum dolor sit 
            amet consectetur adipisicing elit. Minus, 
            exercitationem.
        </p> 
    </div>
    <div class="col-md-2 text-center">
        <p class="h3">Justin Fan</p>
        <img src="https://cdn.pixabay.com/photo/2022/06/21/11/42/clown-7275698_1280.png" class="img-thumbnail rounded-circle w-75" alt="Justin"> 
        <p>
            Description goes here Lorem ipsum dolor sit 
            amet consectetur adipisicing elit. Minus, 
            exercitationem.
        </p> 
    </div>
    <div class="col-md-2 text-center">
        <p class="h3">Blong Vang</p>
        <img src="https://cdn.pixabay.com/photo/2021/03/02/17/28/pixel-6063274_1280.png" class="img-thumbnail rounded-circle w-75" alt="Blong"> 
        <p>
            Description goes here Lorem ipsum dolor sit 
            amet consectetur adipisicing elit. Minus, 
            exercitationem.
        </p> 
    </div>
    <div class="col-md-1"></div>
</div>
{% endblock %}