ion-item-divider {
    margin-top: 2px !important;
    background: #833535 !important;
    text-align: center;
}
ion-content {
    --background: #323232;

    ion-col {
        text-align: left;
        h2,h1 {
            margin-top: 0;
        }

        ion-card {
            background: #833535 !important;
            box-shadow: 0 !important;
            margin-bottom: 0px !important;
            border: 1px solid #ffffff !important;
            padding: 5px;
        }

    }
}

ion-label {
    text-align: center;
    background-color: #833535 !important;
}

ion-list {

    --background: #833535 !important;
}

ion-item {

    --background: #833535 !important;
}

ion-card-content {
    --background: #833535 !important;
    border-width: 0px;
    padding: 0px !important;
    height: 50px !important;
}