ion-modal {
    &.center {
      --width: calc(100% - 2em);
      align-items: center;
      --height: auto;
      .ion-page {
        position: relative;
        display: block;
        contain: content;
      }
    }
}

ion-icon {
  font-size: 28px;
}


ion-button.redbutton {
    --color: #833535;
    --border-radius: 0;
    --border-color: #833535;
    --border-style: solid;
    --border-width: 1px;
    --padding-top: 10px;
    --padding-bottom: 10px;
  }

ion-button.save {
  --color: #833535;
}