ion-modal {
    &.center {
      --width: calc(100% - 2em);
      align-items: center;
      --height: auto;
      .ion-page {
        position: relative;
        display: block;
        contain: content;
      }
    }
  }