ion-modal {
    &.center {
      --width: calc(100% - 2em);
      align-items: center;
      --height: auto;
      .ion-page {
        position: relative;
        display: block;
        contain: content;
      }
    }
}


ion-content{
  --background: var(--ion-color-secondary);

}

ion-icon {
  font-size: 28px;
}

.big-icon {
  height: 500px;
  width: 500px;
}

ion-item {
  --inner-padding-end: 2px;
  --inner-padding-start: 2px;
  --background: var( --ion-color-light);

  --border-width: 0px;
  --padding-bottom: 0px;
  --padding-start: 0px;
  --padding-end: 0px;
  --padding-sop: 0px;
}

ion-footer {
  background: #32323200;
}

ion-button.addExcercise {
    --border-radius: 10px;

    margin-right: 5% !important;
    margin-left: 5% !important;
    margin-bottom: 5% !important;
    --padding-top: 10px;
    --padding-bottom: 10px;
    height: 65px;
  }

ion-button.save {
  --color: #ffffff;
  height: 30px;
}

ion-back-button {
  --color: #ffffff;
}

ion-card {
  width:100%;
  margin: 0;
  margin-top: 2%;
  padding: 0 !important;
  // background-color: #606060 !important;
  background-color: var( --ion-color-light);

  border-radius: 0px !important;
}

ion-list {
  background-color: var(--ion-color-secondary);

}

.label {
  color: var(--ion-color-success);
}