<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>Add Workout</ion-title>
    <ion-button color="success" slot="end" class="save" fill="outline" (click)="saveSession()" id="present-alert">Save</ion-button>
   
  </ion-toolbar>

</ion-header>

<ion-content>
  
  <ion-list  lines="none">
    <ion-item-divider color="light" sticky>
      <ion-input color="success" [clearOnEdit]="true" [(ngModel)]="currentSession.name" (ionChange)="updateName()">
      </ion-input>
      <ion-icon color="success" slot="end" id="open-modal" name="calendar-outline">
      </ion-icon>
      <ion-note color="success" slot="end">
        {{currentSession.datetime | date:'short':'+0000' }}
      </ion-note>
    </ion-item-divider>

    <ion-modal trigger="open-modal" [cssClass]="'center'">
      <ng-template>
        <ion-datetime color="medium" [(ngModel)]="currentSession.datetime" size="cover"></ion-datetime>
      </ng-template>
    </ion-modal>

    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <ion-row class="cardHeader">
                <div class="cardHeader label" >Duration</div>
              </ion-row>
              <ion-row>
                <ion-item>
                  <ion-icon color="success" size="small" name="timer-outline"></ion-icon>
                  <ion-input color="success" #duration [(ngModel)]="currentSession.duration" [clearOnEdit]="true" type="number"
                    placeholder="Mins" inputmode="numeric"></ion-input>
                </ion-item>
              </ion-row>
            </ion-col>
            <ion-col size="6">
              <ion-row class="cardHeader">
                <div class="cardHeader label">Muscle Groups</div>
              </ion-row>

              <app-muscle-svg [opacity]="opacity" [muscles]="currentSession.muscleGroups" [canSelect]="false"
                [canOpen]="false"></app-muscle-svg>

            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <app-exercise *ngFor="let activity of currentSession.activities; let i = index" [activity]="activity"
      [activityIndex]="i"
      (muscleSelected)="updateMuscleChart($event)">
    </app-exercise>

  </ion-list>


</ion-content>

<ion-footer>
  <ion-button expand="block" color="success" class="addExcercise" fill="outline" (click)="addNewComponent()">Add
    Excercise
  </ion-button>
</ion-footer>