<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>Add Workout</ion-title>
    <ion-button slot="end" class="save" fill="outline" (click)="saveSession()">Save</ion-button>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item-divider sticky>
      <ion-input [clearOnEdit]="true" [(ngModel)]="currentSession.name">
      </ion-input>
      <ion-icon slot="end" id="open-modal" name="calendar-outline">
      </ion-icon>
      <ion-note slot="end">
        {{currentSession.datetime | date:'short' }}
      </ion-note>
    </ion-item-divider>

    <ion-modal trigger="open-modal" [cssClass]="'center'">
      <ng-template>
        <ion-datetime [(ngModel)]="currentSession.datetime" size="cover"></ion-datetime>
      </ng-template>
    </ion-modal>

    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <ion-row class="cardHeader">
                <div class="cardHeader label">Duration</div>
              </ion-row>
              <ion-row>
                <ion-item>
                  <ion-icon size="small" name="timer-outline"></ion-icon>
                  <ion-input #duration [(ngModel)]="currentSession.duration" [clearOnEdit]="true" type="number"
                    placeholder="Mins"></ion-input>
                </ion-item>
              </ion-row>
            </ion-col>
            <ion-col size="6">
              <ion-row class="cardHeader">
                <div class="cardHeader label">Muscle Groups</div>
              </ion-row>
              <app-muscle-groups [canSelect]="false" [muscles]="muscleGroups" ></app-muscle-groups>
             
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <app-exercise *ngFor="let activity of currentSession.activities; let i = index" [activity]="activity"
      [activityIndex]="i">
    </app-exercise>

  </ion-list>

  <!-- using the svg angular combo here -->
  <app-muscle-groups [canOpen]="false" [muscles]="['chest']" (newMuscleList)="muscleSelected($event)" ></app-muscle-groups>
</ion-content>

<ion-footer>
  <ion-button expand="block" class="addExcercise" fill="outline" (click)="addNewComponent()">Add
    Excercise
  </ion-button>
</ion-footer>