<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Today</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="log">
      <ion-icon src="/assets/icons/lifter-white.svg"><ion-icon></ion-icon></ion-icon>
      <ion-label>Log</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sync">
      <ion-icon name="cloud-upload-sharp"></ion-icon>
      <ion-label>Sync</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>