<ion-tabs>
  <ion-tab-bar color="primary" slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Today</ion-label>
      <!-- <ion-badge>6</ion-badge> -->
    </ion-tab-button>

    <ion-tab-button tab="log">
      <!-- <ion-icon src="/assets/icons/lifter-white.svg"><ion-icon></ion-icon></ion-icon> -->
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Log</ion-label>
    </ion-tab-button>
    

    <ion-tab-button tab="social">
      <ion-icon name="chatbubble-ellipses-sharp"></ion-icon>
      <ion-label>Gym Buddy</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="graph-livedata">
      <ion-icon class="customSVG" src="../../assets/Emotibit.svg"></ion-icon>
      <ion-label>Emotibit</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

  

</ion-tabs>