ion-row {
    text-align: center;
}

ion-icon {
    color: #ffffff;
}

.header-button {
    color: #ffffff;
}

ion-button {
    height: 80%;
}

ion-icon {
    zoom: 0;
    padding: 0px;
}

capacitor-google-map {
    display: inline-block;
    width: 275px;
    height: 400px;
}