<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Gym Buddy</ion-title>
  </ion-toolbar>

  <ion-toolbar>

    <ion-title>
      <ion-segment [(ngModel)]="currentPage">
        <ion-segment-button value="feed">
          <ion-label>Feed</ion-label>
        </ion-segment-button>
        <ion-segment-button value="friends">
          <ion-label>Friends</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-title>

    <ion-button (click)="openModal()" slot="end" fill="clear">
      <!-- <ion-icon *ngIf="currentPage == 'feed'" size="small" slot="icon-only" name="settings-sharp"></ion-icon> -->
      <ion-icon *ngIf="currentPage == 'friends'" size="small" name="add-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-label *ngIf="currentPage == 'feed'">
    <app-gym-select></app-gym-select>
  </ion-label>
  <ion-label *ngIf="currentPage == 'friends'">
    <app-friends-list></app-friends-list>
  </ion-label>
</ion-content>

