<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Gym Buddy</ion-title>
  </ion-toolbar>

  <ion-toolbar>

    <ion-title>
      <ion-segment [(ngModel)]="currentPage">
        <ion-segment-button value="feed">
          <ion-label>Feed</ion-label>
        </ion-segment-button>
        <ion-segment-button value="friends">
          <ion-label>Friends</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-title>

    <ion-button (click)="openModal()" slot="end" fill="clear">
      <!-- <ion-icon *ngIf="currentPage == 'feed'" size="small" slot="icon-only" name="settings-sharp"></ion-icon> -->
      <ion-icon *ngIf="currentPage == 'friends'" size="small" name="add-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>

</ion-header>

<ion-content>
  <app-gym-select *ngIf="currentPage == 'feed'" (gymSelected$)="gymSelected($event)" ></app-gym-select>

  <app-friends-list *ngIf="currentPage == 'friends'"></app-friends-list>


</ion-content>
<ion-footer >
  <ion-toolbar *ngIf="gymSelect" class="support" color="medium">
    <ion-row class="ion-align-items-center">
      <ion-col size="10">
        <ion-textarea autoGrow="true" color="dark" class="message-input" rows="1" maxLength="500" [(ngModel)]="msg"
          placeholder="Tell Others Your Working Out!">
        </ion-textarea>
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="sendMsg()" expand="block" fill="clear">
          <ion-icon name="send" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
  
  
  </ion-footer>
  

