<ion-content #scrollMe >
  <ion-grid class="pad-bottom" >
      <ion-row *ngFor="let message of messageList$ | async">
        <ion-col size="9" class="message" 
          [offset]="message.isuser ? 3 : 0"
          [ngClass]="{'my-message': message.isuser, 'other-message': !message.isuser}">
          <ion-icon name="person-circle-sharp"></ion-icon>
          <b> {{ message.username}}</b><br>
          <span>{{ message.message}}
          </span>
          <div class="time ion-text-right"><br>{{message.timestamp | date:'short'}}</div>
        </ion-col>
      </ion-row>
</ion-grid>


</ion-content> 


