<ion-content #scrollMe>
  <ion-grid >
    <ion-row *ngFor="let message of messageList$ | async">
      <ion-col size="9" class="message" 
        [offset]="message.userSent ? 3 : 0"
        [ngClass]="{'my-message': message.userSent, 'other-message': !message.userSent}">
        <ion-icon name="person-circle-sharp"></ion-icon>
        <b> {{ message.user_id}}</b><br>
        <span>{{ message.myMsg}}
        </span>
        <div class="time ion-text-right"><br>{{message.time_sent | date:'short'}}</div>
      </ion-col>
    </ion-row>
</ion-grid>

</ion-content>
