<ion-header>
  <ion-toolbar>
    <ion-button color="#833535" slot="start" routerLink="/tabs/home">
      <ion-icon color="white" name="arrow-back"></ion-icon>
    </ion-button>
  <ion-title>One Rep Max Graph</ion-title>
  <ion-icon id="open-modal-1rm" color="white" slot="end" size="large" name="information-circle-outline"></ion-icon>
  </ion-toolbar>  
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center">
    <ion-item color="dark">
      <ion-select 
      interface="popover" 
      class="date-selection"
      [(ngModel)]="timeView"
      (ionChange)="changeDuration(timeView)">
      <ion-select-option value="7">Week View</ion-select-option> 
      <ion-select-option value="30">Month View</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-row>
 

  <ion-modal
  trigger="open-modal-1rm"
  [initialBreakpoint]="0.25"
  [breakpoints]="[0, 0.25, 0.5, 0.75]"
  handleBehavior="cycle"
>
  <ng-template>
    <ion-content class="ion-padding">
      <div class="ion-margin-top">
        <ion-label>This graph shows you your theoretical one rep max for a specific workout.</ion-label>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>

  <div class="chart-container">
      <canvas  id="OneRMgraph" >{{ chart }}</canvas>
  </div>

  <ion-grid style="border-bottom: 2px solid grey">
    <ion-row class="ion-justify-content-center">

    <ion-buttons color="primary" lines="none" class="date-selection">
      <ion-col>
        <ion-button (click)="displayPreviousWeek()">
        <ion-icon slot="start" name="chevron-back-outline" size="large"></ion-icon>
      </ion-button>
      </ion-col>

      <ion-col>
        <ion-text color="success">{{previousWeekFormatted}} - {{rightsideWeekFormatted}}</ion-text>
      </ion-col>

      <ion-col>
        <ion-button (click)="displayNextWeek()">
          <ion-icon slot="end" name="chevron-forward-outline" size="large"></ion-icon>
         </ion-button>
        </ion-col>
        </ion-buttons>
      </ion-row>

      <ion-row class="ion-justify-content-center">

        <ion-item lines="none" color="dark">
          <ion-select
          interface="popover" 
          placeholder="Select workout" 
          [(ngModel)]="selectedWorkout"
          (ionChange)="updateChart()"
          >
              <ion-select-option *ngFor="let workout of workouts; let i = index" [value]="workout">{{workouts[i]}}</ion-select-option> 
          </ion-select>
        </ion-item>
    </ion-row>

    <ion-row class="table-title-color">
        <ion-col class="left-table-text">
          <ion-text>This Week</ion-text>
        </ion-col>

        <ion-col class="right-table-text">
          <ion-text>Total Weight</ion-text>
        </ion-col>
    </ion-row>
  </ion-grid>

  <!-- add ngfor loop here to generate data -->
  <ion-grid style="border-bottom: 2px solid">
    <ion-row *ngFor="let row of workoutDates; let i = index">
      <ion-buttons>
        <ion-col class="left-table-text" size="auto">
          <ion-text color="success">{{workoutDates[i]}}</ion-text>
        </ion-col>

        <ion-col class="weight-text">
          <ion-text color="success">{{workoutData[i] | number: '1.0-1' }} lbs</ion-text>
        </ion-col>

        <ion-col class="right">
          <ion-button>
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-buttons>
    </ion-row>
  </ion-grid>

</ion-content>

