ion-select{
    width: 400px;
    text-align-last: center;
  
}

ion-icon{
    color: #fff;
}

.date-selection{
    width: 400px;
    text-align-last: center;
}

.left-table-text{
    padding-left: 10px;
    text-align: left;
}

.right-table-text{
    padding-right: 10px;
    text-align: right;
}

.weight-text{
    text-align: center;
}

.table-title-color{
    background-color: var(--ion-color-primary);;
}

.right{
    width: 250px;
    text-align-last: right;
}


