<ion-content>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button expand="block" routerLink="/tabs/home">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>One Rep Max Graph</ion-title>
  </ion-toolbar>

  <div class="chart-container">
      <canvas  id="OneRMgraph" >{{ chart }}</canvas>
  </div>

  <ion-grid style="border-bottom: 2px solid grey">
    <ion-row>
    <ion-buttons color="primary" lines="none" class="date-selection">
      <ion-col>
        <ion-button (click)="displayPreviousWeek()">
        <ion-icon slot="start" name="chevron-back-outline" size="large"></ion-icon>
      </ion-button>
      </ion-col>

      <ion-col>
        <ion-text color="success">{{previousWeekFormatted}} - {{rightsideWeekFormatted}}</ion-text>
      </ion-col>

      <ion-col>
        <ion-button (click)="displayNextWeek()">
          <ion-icon slot="end" name="chevron-forward-outline" size="large"></ion-icon>
         </ion-button>
        </ion-col>
        </ion-buttons>
      </ion-row>
    </ion-grid>

  <ion-grid>
    <ion-row>
        <ion-item lines="none" color="dark">
          <ion-select
          interface="popover" 
          placeholder="Select workout" 
          [(ngModel)]="selectedWorkout"
          (ionChange)="updateChart()"
          >
              <ion-select-option *ngFor="let workout of workouts; let i = index" [value]="workout">{{workouts[i]}}</ion-select-option> 
          </ion-select>
        </ion-item>
    </ion-row>

    <ion-row class="table-title-color">
        <ion-col class="left-table-text">
          <ion-text>This Week</ion-text>
        </ion-col>

        <ion-col class="right-table-text">
          <ion-text>Total Weight</ion-text>
        </ion-col>
    </ion-row>
  </ion-grid>

  <!-- add ngfor loop here to generate data -->
  <ion-grid style="border-bottom: 2px solid">
    <ion-row *ngFor="let row of workoutDates; let i = index">
      <ion-buttons>
        <ion-col class="left-table-text" size="auto">
          <ion-text color="success">{{workoutDates[i]}}</ion-text>
        </ion-col>

        <ion-col class="weight-text">
          <ion-text color="success">{{workoutData[i] | number: '1.0-1' }} lbs</ion-text>
        </ion-col>

        <ion-col class="right">
          <ion-button>
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-buttons>
    </ion-row>
  </ion-grid>

</ion-content>

