ion-icon{
    size: large;
    padding: 20px;
    color: white;
}

ion-card{
    background-color: #6D6D6D;
    justify-content: center;
    display: flex;
}

.icon-card{
    height: 100px;
    background-color: white;
}

ion-text{
    text-align: center;
}