<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Change Profile Icon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="#D0CDCD">
    <ion-card-content>
      <ion-text>Select new icon</ion-text>
      <div *ngFor="let icon of icons; let i = index">
        <!-- changeAvatar(icons[i]) -->
        <ion-card (click)="passToAccount(icon)">
          <ion-img src="{{'data:image/jpg;base64,'+icon.icon}}" 
          alt="user img"></ion-img>
        </ion-card>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>
