<div class="background">
  <ion-button class="Delete" (click)="deleteActivity()" fill="clear" style="float: right;" >
    <ion-icon name="close-circle-outline"></ion-icon>
  </ion-button>
  <ion-grid >
    <ion-row>
      <ion-col size="9">
        <ion-input [clearOnEdit]="true" placeholder="Excercise" [(ngModel)]="activity.name" (ionChange)="updateName()">
        </ion-input>
      </ion-col>
      <ion-col size="2">
        <ion-row>
          <app-muscle-svg (muscleSelected)="addMuscles($event)" [canSelect]="false" [muscles]="activity.muscleGroups" ></app-muscle-svg>
        </ion-row>
      </ion-col>
    </ion-row>

  
      <app-exercise-set *ngFor="let set of activity.sets; index as i;" [activityIndex]="activityIndex" [set]="set"
        [setCount]="i+1">
      </app-exercise-set>

    <ion-row>
      <ion-col>
        <ion-button class="Add" (click)="addSet()" fill="clear">
          <ion-icon slot="end" name="add-circle-outline"></ion-icon>
          Add Set
        </ion-button>
      </ion-col>
      <ion-col></ion-col>
      <ion-col>
       
      </ion-col>
    </ion-row>
    <ion-row>
      
     
    </ion-row>
  </ion-grid>
</div>
