<ion-card>
  <ion-card-header>
    <ion-card-title>
      <ion-input [clearOnEdit]="true"  placeholder="Exercise name"></ion-input>
    </ion-card-title>
  </ion-card-header>
  
  <ion-card-content>
    <app-exercise-set></app-exercise-set>
    <ng-container #container></ng-container>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size="auto">
        <ion-button (click)="addNewComponent()" fill="clear">Add Set</ion-button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>