<ion-toolbar>
  <ion-button color="#833535" slot="start" routerLink="/tabs/home">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
<ion-title>Muscle Group Graph</ion-title>
<ion-icon id="open-modal" slot="end" size="large" name="information-circle-outline"></ion-icon>
</ion-toolbar>


<ion-content>
  <ion-modal
  trigger="open-modal"
  [initialBreakpoint]="0.25"
  [breakpoints]="[0, 0.25, 0.5, 0.75]"
  handleBehavior="cycle"
>
  <ng-template>
    <ion-content class="ion-padding">
      <div class="ion-margin-top">
        <ion-label>This graph shows you how many reps you've completed for a specific muscle group.</ion-label>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>

  <div class="chart-container">
    <canvas id="MuscleGroupChart">{{ chart }}</canvas>
  </div>

  <ion-grid style="border-bottom: 2px solid grey">
    <ion-row>
      <ion-buttons color="primary" lines="none" class="date-selection">
        <ion-col>
          <ion-button (click)="displayPreviousWeek()">
            <ion-icon slot="start" name="chevron-back-outline" size="large"></ion-icon>
          </ion-button>
        </ion-col>

        <ion-col>
          <ion-text color="success">{{previousWeekFormatted}} - {{rightsideWeekFormatted}}</ion-text>
        </ion-col>

        <ion-col>
          <ion-button (click)="displayNextWeek()">
            <ion-icon slot="end" name="chevron-forward-outline" size="large"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-buttons>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-item lines="none" color="dark">
        <ion-select interface="popover" placeholder="Select muscle group" [(ngModel)]="selectedGroup"
          (ionChange)="updateChart()">
          <ion-select-option *ngFor="let muscle of musclegrouplist; let i = index"
            [value]="muscle">{{musclegrouplist[i]}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-row>

    <ion-row class="table-title-color">
      <ion-col class="left-table-text">
        <ion-text>This Week</ion-text>
      </ion-col>

      <ion-col class="right-table-text">
        <ion-text>Total Reps</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- add ngfor loop here to generate data -->
  <ion-grid style="border-bottom: 2px solid">
    <ion-row *ngFor="let row of musclegroups; let i = index">
      <ion-buttons>
        <ion-col class="left-table-text" size="auto">
          <ion-text color="success">{{musclegroups[i]}}</ion-text>
        </ion-col>

        <ion-col class="weight-text">
          <ion-text color="success">{{workoutData[i]}} reps</ion-text>
        </ion-col>

        <ion-col class="right">
          <ion-button>
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-buttons>
    </ion-row>
  </ion-grid>


</ion-content>