[Unit]
Description=EmotiDev Server
After=network.target

[Service]
User=root
WorkingDirectory=/root/EmotiCoach/backend
ExecStart=python3 manage.py runserver 0.0.0.0:1617
Restart=always
Type=simple

[Install]
WantedBy=multi-user.target